body {
    background-color : #f3f3f3 !important;
}

.operation {
    border-radius : 1rem;
    padding       : 3rem 4rem;
    color         : #333;
    margin-bottom : 20px;
    height        : 180px !important;
    width         : 75%;
}

.operation--transfer {
    background-image : linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
    background-image : linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
    background-image : linear-gradient(to top left, #e52a5a, #ff585f);
}

h4 {
    margin-bottom : 1.5rem;
    font-size     : 1.1rem !important;
    font-weight   : 600;
    color         : #333;
}

.form {
    display               : grid;
    grid-template-columns : 2.5fr 2.5fr 1fr;
    grid-template-rows    : auto auto;
    gap                   : 0.4rem 1rem;
}

.form__input {
    width            : 100%;
    border           : none;
    background-color : rgba(255, 255, 255, 0.4);
    font-family      : inherit;
    font-size        : 1.2rem !important;
    text-align       : center;
    color            : #333;
    padding          : 0.3rem 1rem;
    border-radius    : 0.7rem;
    transition       : all 0.3s;
}

.form__label {
    font-size  : 1.1rem;
    text-align : center;
}

.form__label--loan {
    grid-row : 2;
}

#movements {
    grid-row         : 2 / span 3;
    background-color : #fff;
    border-radius    : 1rem;
    overflow         : scroll;
}
  
.movements__row {
    padding       : 1.25rem 2rem;
    display       : flex;
    align-items   : center;
    border-bottom : 1px solid #eee;
}
  
.movements__type {
    font-size      : 1rem;
    text-transform : uppercase;
    font-weight    : 500;
    color          : #fff;
    padding        : 0.1rem 1rem;
    border-radius  : 10rem;
    margin-right   : 2rem;
}
  
.movements__date {
    font-size      : 1rem;
    text-transform : uppercase;
    font-weight    : 500;
    color          : #666;
}
  
.movements__type--deposit {
    background-image : linear-gradient(to top left, #39b385, #9be15d);
}
  
.movements__type--withdrawal {
    background-image : linear-gradient(to top left, #e52a5a, #ff585f);
}
  
.movements__value {
    font-size   : 1.7rem;
    margin-left : auto;
}

.senderDesc {
    font-size : 11px;
}

.movements__row:hover{
    cursor           : pointer;
    background-color : #f8f7f7;
}

.details {
    text-align : center;
    font-size  : 12px;
    padding    : 10px;
    display    : none;
}

.sortFilter {
    color : rgb(82, 82, 82);
}

.sortFilter i:hover{
    cursor : pointer;
}

.sortFilter .btn:hover {
    background-color : #e6e4e4;
    color            : black;
}